!!! 5
//[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]
//[if IE 7 ]><html class="ie ie7" lang="en"><![endif]
//[if IE 8 ]><html class="ie ie8" lang="en"><![endif]
//[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]
head
  //[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script> <![endif]

  meta(charset='utf-8')
  title App
  meta(name='description', content='')
  meta(name='author', content='')

  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('app')
  
body
  block content

  != js('http://code.jquery.com/jquery.min.js')
  != js('app')

| </html>